.container {
  background-color: rgb(44, 43, 45);
  display: flex;
  /* padding: 25px; */
  margin-bottom: 10px;
  align-items: center;
  border-radius: 20px;
}
.container img {
  height: 70px;
}
.Heart :hover{
background-color: red;
}
